*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  height: 100vh;
  width: 100%;
}
header{
  height: 80px;
  display: flex;
  background: #141414;
  justify-content: space-around;
}
header .search{
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.search button{
  margin: 0 20px;
}
header .logo{

}
main{
  height: calc(100% - 80px);
  overflow-y: auto;
}
.error_dialog{
  background: #DC1A28;
  height: 50px;
  width: 100%;
  display: none;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
}
.error_dialog span{
  margin: 0 50px;
  font-weight: 700;
  color: white;
}
.start{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: rgb(192, 20, 18);
}
.start h2{
  font-size: 59px;
}
.start h3{
  width: 40%;
  font-size: 45px;
}
.results_list{
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-around;
  /* align-items: flex-start; */
  align-items: stretch;
  flex-wrap: wrap;
}
.entry_film{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  padding: 15px;
  margin: 25px;
  background: rgba(0, 0, 0, 0.2);
  list-style: none;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
}
.entry_film .image{
  width: 350px;
  height: 500px;
  text-align: center;
}
.entry_film .image img{
  height: 100%;
  line-height: 500px;
  vertical-align: middle;
}
.entry_film .description{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  width: 350px;
}
.entry_film .description h4{
  padding-top:  15px;
}
.description_small{
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  padding-top:  15px;
}
#rating img{
  width: 24px;
  height: 24px;
}
.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .8);
  color: white;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
